<div class="container">
    <div class="col-md-2">
	    <img src="{{product.image_url}}" class="img" />
    </div>
    <div class="col-md-10">
        <h1>{{product.name}}</h1>
        <h3>Price: <span>{{product.price}}</span></h3>
        <div class="list-group">
            <label>Distributor: </label>
	        <a ng-href="#/distributor/{{productDistributor.id}}">{{productDistributor.name}}</a>
        </div>
        <div>
	        <h5>
		        Categories:
	        </h5>
	        <ul>
		        <li ng-repeat="category in categories">
			        <a ng-href="#/category/{{category.id}}">{{category.name}}</a>
		        </li>
	        </ul>
        </div>
     </div>
</div>